.settings {
  margin-top: 61px;
  margin-left: 84px;
  display: flex;
  flex-direction: column;
  font-size: 32px;
}
.settings h2 {
  font-size: 64px;
  margin-bottom: 46px;
}
.settings-theme {
  display: flex;
  flex-direction: column;
}
.settings-theme label {
  font-size: 24px;
  margin-bottom: 7px;
}
.settings-theme select {
  width: 401px;
  height: 93px;
  font-size: 32px;
  cursor: pointer;
  text-indent: 27px;
}

.settings-clear {
  cursor: pointer;
  width: 401px;
  height: 93px;
  margin-top: 32px;
  background: #f2f2f2 0% 0% no-repeat padding-box;
  font-size: 32px;
}
