.keypad {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 45px;
  grid-column-gap: 128px;
  margin-top: 28px;
  margin-left: 130px;
  margin-right: 150px;
}

@media screen and (max-width: 1900px) {
  .keypad {
    grid-row-gap: 30px;
    grid-column-gap: 0px;
  }
}
