.display {
  margin-left: 42px;
  margin-top: 56px;
}
.display-value {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 64px;
  padding-right: 47px;
}

@media screen and (max-width: 1900px) {
}
