Header h1 {
  margin-left: 32px;
  font-size: 32px;
}
Header ul {
  list-style: none;
  display: flex;
}
.header-list li {
  margin-right: 32px;
  opacity: 0.7;
  transition: 0.7s all;
}
.header-list li:hover {
  opacity: 1;
  text-decoration: underline;
  text-underline-offset: 10px;
}
.text-link {
  color: inherit;
  text-decoration: inherit;
  font-size: 32px;
}
