header {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #434343;
  color: #ffffff;
  letter-spacing: 0px;
}
header h1 {
  margin-left: 32px;
  font: normal normal normal 32px/38px Helvetica Neue;
}
header ul {
  list-style: none;
  display: flex;
  font: normal normal normal 32px/38px Helvetica Neue;
}
.header-list li {
  margin-right: 32px;
}
