.link {
  margin-right: 32px;
  opacity: 0.7;
  transition: 0.7s all;
  color: inherit;
  text-decoration: inherit;
  font-size: 32px;
}

.active {
  opacity: 1;
  text-decoration: underline;
  text-underline-offset: 10px;
  color: springgreen;
}
